@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Black Ops One', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.relogio {
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #e2c0c0;
    color: #eee;
    background-color: #16503c;
    font-size: 3.5rem;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #16503c;
}

i {
    color: #16503c;
}